@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 75% 92%;
    --foreground: 222 84% 5%;
    --card: 180 50% 98%;
    --card-foreground: 222 84% 5%;
    --popover: 180 50% 98%;
    --popover-foreground: 222 84% 5%;
    --primary: 180 100% 25%;
    --primary-foreground: 180 25% 95%;
    --secondary: 180 20% 85%;
    --secondary-foreground: 180 100% 25%;
    --muted: 180 20% 85%;
    --muted-foreground: 180 20% 40%;
    --accent: 147 46% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 90%;
    --ring: 180 100% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 180 75% 92%;
    --card: 222 84% 7%;
    --card-foreground: 180 75% 92%;
    --popover: 222 84% 5%;
    --popover-foreground: 180 75% 92%;
    --primary: 180 100% 35%;
    --primary-foreground: 180 25% 95%;
    --secondary: 222 84% 10%;
    --secondary-foreground: 180 75% 92%;
    --muted: 222 84% 10%;
    --muted-foreground: 180 20% 60%;
    --accent: 147 46% 59%;
    --accent-foreground: 222 84% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 84% 10%;
    --input: 222 84% 10%;
    --ring: 180 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
